
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #172339;
    font-family: 'Epilogue', sans-serif, Arial, Helvetica;
    --primary-text-color: 49566D;
    --body-background-color: #F3EDE7;
}


body {
    background-color: var(--body-background-color);
    padding: 0 2vw;
    margin: 0;
}

#header {
    margin-bottom: 10vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-btn {
    color: var(--primary-color);
    padding: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.14px;
}

#pattern-line-1 {
    position: absolute;
    top: 115px;
    left: 160px;
    width: 151.47px;
    height: auto;
    /* margin-left: 100px; */
    /* margin-bottom: 0; */
}


#hero-with-line {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-image: url('./assets/image-hero-portrait.webp'); */
    /* background-position-y: bottom; */
    /* min-height: 100vh; */
    /* background-position-x: 0; */
}

#hero-msg {
    margin-top: 0;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.527778px;
}

#hero-explanation {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    color: var(--primary-text-color);
}

#hero-btn {
    margin-top: 30px;
    color: #fff;
    background-color: var(--primary-color);
    padding: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.14px;
    width: 256px;
    text-align: center;
}

#hero-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    background-image: url('./assets/image-hero-landscape.webp');
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    margin: 50px auto;
    /* background-clip: border-box; */
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-text-color);
}

#stats div h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 0;
}

#stats div p {
    letter-spacing: 2.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
}

#bottom-img-group {
    margin-top: 50px;
    /* border: 1px dashed red; */
    margin-bottom: -90vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#img-group-bottom {
    margin-top: 50px;
    width: 50px;
    height: auto;
}



#testimonial {
    /* padding: 0 !; */
    padding-top: 90vh;
    margin-top: 20px;
    padding-bottom: 50px;
    background-color: #172339;
    border-radius: 10px;
    z-index: 0;
    color: #fff;
    text-align: center;
}

#testimonial-title {
    font-size: 2em;
}


#testimonial-description {
    line-height: 32px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.09px;
}

#witness-name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

#witness-position {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

#footer {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#copyright {
    letter-spacing: 0.5px;
    padding: 5px;
    width: 100%;
    font-weight: 400;
}

#social-links {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}