@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-text-color: #49566D;
    --cream: #F3EDE7;
    --dark-blue: #172339;
    --grey: #49566D;
    --cream-white: #FAF8F6;
}

body {
    font-family: 'Epilogue', sans-serif, Arial, Helvetica;
    padding: 0;
    margin: 0;
    color: var(--dark-blue);}

header {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 3vw;

}


#header-btn {
    background-color: #FAF8F6;
    padding: 15px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    border-radius: 5px;
    text-decoration: none;
}

#main-section {
    padding: 0 3vw;
}

#solution-arc {
    position: relative;
    width: 300vw;
    min-width: 45vw !important;
    /* max-width: 10vw !important; */
    left: 43%;
    right: 45%;
    top: 6vh;
    bottom: -50%;
    min-width: 20vw;
    max-width: 20vw;
}

#headline {
    font-size: 38px;
    font-weight: 400;
}

#headline strong {
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    line-height: 44px;

    letter-spacing: -0.527778px;
}

#info-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    color: var(--grey);

}

#beta-btn-2 {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    
    letter-spacing: -0.18px;

    background-color: var(--dark-blue);
    padding: 15px;
    border: 1px solid var(--dark-blue);
    color: var(--cream-white);
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
}

#hero-bg {
    display: inline-block;
    margin-top: 40px;
    background-image: url('./assets/image-hero-landscape.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
}


#stats {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-top: 30px;
}   

#stats h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--dark-blue);
}

#stats p {
    text-transform: uppercase;
    margin-top: -50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.5px;
    color: var(--grey);
}

#customer-feedback {
    background-color: var(--dark-blue);
    border-radius: 15px;
    color: var(--cream);
    margin-top: 200px;
    padding-bottom: 15%;
}

#customer-photo-div {
    background-image: url('./assets/pattern-blur.svg');
    /* background-size: contain; */
    background-size: contain;
    position: relative;
    top: calc(5vh - 200px);
    display: flex;
    justify-content: center;
}

#customer-feedback-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#arc-2 {
    /* background-color: #fff; */
    margin-top: -25vh;
}

#testimonial {
    font-weight: 400;
    text-align: center;
    margin-top: 00px;
}

#testimonial p {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.416667px;
}

#testimonial p > strong {
    font-weight: 700;
}

#quote {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    padding: 0 13%;
}



#customer-name {
    margin-top: 5vh;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    color: var(--cream-white);
}

#work {
    margin-top: -20px;
    color: var(--cream);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.5px;
}

#footer {
    background-color: var(--cream);
    padding: 20vh 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}


#copyright {
    margin-top: 20px;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin-top: 20px;
}



/*
MEDIA QUERIES
*/

@media (min-width: 768px) {
   
    #solution-arc {
        min-width: 30vw;
        left: 30vw;
        right: 0vw;
        top: 5vh;
    }

    #headline-container {
        width: 70vw;
    }

    #main-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #headline, #headline strong {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
    }

    #info-1 {
        width: 55vw;
    }
    #hero-bg {
        background: url('./assets/image-hero-portrait.webp');
        background-size: cover;
        height: 70vh;
        background-repeat: no-repeat;
        width: auto;
        margin-left: -40vw;
        margin-top: -2vh;
        z-index: -10;
    }

    #stats {
        flex-direction: row;
        flex-flow: nowrap;
        display: flex;
        width: 95vw;
        justify-content: space-around;
        text-align: center;
    }

    #stats div {
        height: 200px;
    }


    #arc-2 {
        margin-top: -15vh;
    }

    #customer-photo-div {
        background-image: url('./assets/pattern-blur.svg');
        background-size: 125%;
        background-size: cover;
    }

    #footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    
    #copyright {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #social-links {
        display: inline-flex;
        width: 15%;
    }
}

@media (min-width: 1440px) {
    
    #main-section {
        grid-template-columns: 2fr 0.5fr 2fr;
    }

    #headline, #headline strong {
        font-size: 72px;
        line-height: 78px;
        letter-spacing: -1px;
    }

    #solution-arc {
        left: 29%;
        width: 20% !important;
        max-width: 20vw !important;
        min-width: 20vw !important;
    }

    #info-1 {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.1px;
        width: 35%;
    }

    #hero-bg {
        background: url('./assets/image-hero-portrait@2x.webp');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -37vw;
    }

    #stats {
        flex-direction: column;
        width: auto;
    }

    #customer-feedback-images {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    #customer-feedback {
        display: grid;
        grid-template-columns: 4fr 4fr;
    }

    #testimonial, #customer-name, #work, #quote {
        text-align: left !important;
    }

    #quote {
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.1px;
        color: var(--cream);
        padding: 0;
        width: 400px;
    }

    #footer {
        padding: 5vh 20px;
    }

}