@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-text-color: #49566D;
    --cream: #F3EDE7;
    --dark-blue: #172339;
    --grey: #49566D;
    --cream-white: #FAF8F6;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Epilogue', sans-serif, Arial, Helvetica;
    padding: 0;
    margin: 0;
    color: var(--dark-blue);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

#content {
    flex: 1 0 auto;
    margin: 2rem auto;
}

#footer-with-customer-feedback {
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

header {
    /* padding-top: 0rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 0;
}


#header-btn {
    background-color: #FAF8F6;
    padding: 15px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

#header-btn:hover {
    color: var(--cream-white);
    background-color: var(--dark-blue);
}

#headline-container {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;

    letter-spacing: -1px;

    color: var(--dark-blue);
}

#super-solution-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#solution-arc {
    width: 10rem;
    position: relative;
    top: 1.8rem;
    left: 9rem;
}

#marketing-info {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    letter-spacing: 175%;
    color: #49566D;
    width: 80%;
}

#beta-access-btn-2 {
    border-radius: 6px;
    background-color: var(--dark-blue);
    text-align: center;
    color: var(--cream-white);
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 20px;
}

#beta-access-btn-2:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

#hero-image-div {
    margin-top: 2em;
    /* background-image: url('./assets/image-hero-landscape.png'); */
    /* height: 15rem; */

    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: top center; */
    padding: 0;

    height: auto;
    /* border: 5px solid greenyellow; */
}


#hero-image-div img {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
}

.stats-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--dark-blue);
    text-align: center;
}

#stats p {
    text-transform: uppercase;
    margin-top: -50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.5px;
    color: var(--grey);
}


/* The Customer Feedback Section */

#customer-feedback {
    border: 2px solid rebeccapurple;
    background-color: var(--dark-blue);
    border-radius: 15px;
    color: var(--cream);
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#customer-photo-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;
    height: 32rem;
}

#jeremy-photo {
    height: 32rem;
    z-index: 10;
    position: relative;
    top: -50%;
}

#blur-pattern {
    z-index: 0;
    height: 32rem;
    position: relative;
    top: -90%;
}

#curved-line-2 {
    width: 50%;
    margin: 0 auto;
    margin-top: -12rem !important;
    display: flex;
    justify-content: center;
}

#testimonial {
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}


#it-just-works {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.416667px;
    text-align: center;
    width: 100%;
}

#it-just-works>strong {
    font-weight: 700;
}


#quote {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    padding: 0 13%;
}


#client {
    margin-top: 3rem;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    color: var(--cream-white);
}

#client-position {
    color: var(--cream);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.5px;
}

#footer {
    background-color: var(--cream);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#copyright {
    margin: 2rem auto;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6rem;
    margin: 0 auto;
}


/* Media Queries */


@media(min-width: 375px) {
    #content {
        padding: 0 2rem;
    }

    #stats {
        z-index: 10;
        /* justify-self: end; */
        /* grid-area: 1/2/1/3; */
        margin: 2rem 0 30rem 0 !important;
        /* flex-direction: column; */
        /* justify-content: space-around; */
        /* align-items: flex-start; */
        text-align: left !important;
    }
}


@media (min-width: 768px) {
    
    body {
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
        padding: 0;
    }


    #content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin: 3rem auto;
        align-items: stretch;
    }


    #main-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-wrap: nowrap; */
        margin-top: -2.5rem;
    }

    #a-super-solution {
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
        z-index: 10;
        width: 120%;
    }

    #solution-arc {
        width: 14rem;
        top: 1.4em;
        left: 6em;
        z-index: 10;
    }

    #marketing-info {
        width: 75%;
        z-index: 10;
        margin-top: -0.5rem;
    }


    #headline-container {
        width: 100%;
        z-index: 10;
        display: grid;
        grid-template-columns: 1.7fr 1.1fr;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        /* border: 2px solid green; */
    }


    #hero-image-div {
        border-radius: 1rem;
        margin-top: 0.5rem;
        /* height: 38rem; */
        width: 100%;
        position: relative;
        left: 0;
        /* left: 0; */
        top: 1.0rem;
        /* background-image: url('./assets/image-hero-portrait.png'); */
        /* background-size: cover; */
        /* background-position: center center; */
        /* background-repeat: no-repeat; */
        z-index: 0;
        /* grid-column: 2/2; */
    }

    #hero-image-div img {
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
    }


    #stats {
        /* border: 2px solid red; */
        margin-top: 6rem;
        grid-column: 1/1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 2rem 0 0rem 0 !important;

    }

    #blur-pattern {
        z-index: 0;
        height: 32rem;
        position: relative;
        top: -95%;
        left: -5%;
    }

    #footer-with-customer-feedback {
        padding: 0 !important;
        margin: -40% 0 0 0 !important;
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #customer-feedback {
        border-radius: 15px;
        color: var(--cream);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 10em auto 0 auto;
        z-index: 10;

        height: auto !important;
        /* width: 80%; */
        position: relative;
        top: 30%;
    }

    #footer {
        /* border: 2px solid red; */

        /* background-color: orange; */
        padding: 35rem 0 2rem 0;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        z-index: 0;
    }


    #footer-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0rem auto;
        align-items: center;
    }

    #copyright {
        margin: 0 auto;
    }

    #social-links {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        width: 6rem;
        margin: 0;
    }

}


@media (min-width: 1024px) {

    body {
        padding: 0;
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: 3rem auto 0 auto;
        align-items: stretch;
    }

    #a-super-solution {
        /* font-size: 72px; */
        /* line-height: 78px; */
        /* letter-spacing: -1px; */
        width: 170%;
    }

    #marketing-info {
        /* font-size: 18px; */
        /* line-height: 32px; */
        /* letter-spacing: 0.1px; */
        margin-top: 0rem !important;
        width: 70%;
    }

    #solution-arc {
        width: 14rem;
        top: 3.5rem;
        left: 14rem;
        z-index: 10;
    }

    #main-section {
        display: grid;
        grid-template-columns: 5fr 0.2fr;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin: 0 auto;
        margin-top: 2.5rem;
    }

    #headline-container {
        width: 100%;
        z-index: 10;
        display: grid;
        grid-template-columns: 3fr 2.5fr;
        align-items: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        /* border: 2px solid green; */
    }

    #marketing-info {        
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.1px;
        margin-top: -3rem !important;
        width: 85%;
        z-index: 10;
    }


    #hero-image-div {
        margin-top: -0.5rem;
        height: auto;
        left: -2%;
        justify-self: left;
        align-self: flex-start;
    }

    #hero-image-div img {
        width: 100%;
        height: auto;
        z-index: 0;
        margin-top: 1.5rem;
        left: -2rem;
    }

    /* #stats {
        grid-area: 1/2/1/3;
        margin: 0 2rem !important;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 0rem !important;
        text-align: left !important;
    } */
    
    #stats h3, #stats p {
        text-align: left;
    }
    
    #stats {
        z-index: 10;
        justify-self: end;
        grid-area: 1/2/1/3;
        /* margin: 0 1rem !important; */
        margin: 2rem auto 0 auto !important;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left !important;
    }

    #stats h3, #stats p {
        text-align: left;
    }

    /* Customer Feedback */

    #footer-with-customer-feedback {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 6em !important;
        padding: 0;
    }


    #customer-feedback {
        background-color: var(--dark-blue);
        border-radius: 15px;
        color: var(--cream);
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* border: 2px solid red; */
        height: 100% !important;
        align-items: center;
        height: 28rem !important;
        width: 80%;
        margin: 2rem auto 0 auto;
        position: relative;
        top: calc(15%);
    }

    #footer {
        margin: 0 auto;
        padding: 12rem 0 2rem 0;
        width: 100%;
        display: flex;
        /* justify-content: flex-start; */

        align-items: center;

        /* display: flex; */
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-between;
        text-align: center;

    }

    #footer-items {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: -10rem auto;
        align-items: center;
    }

    #customer-photo-div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        z-index: 1;
        height: 30rem;
    }



    #jeremy-photo {
        height: 32rem;
        z-index: 10;
        position: relative;
        top: -10%;
        /* border: 2px solid white; */
    }

    #blur-pattern {
        z-index: 0;
        height: 32rem;
        width: 125%;
        position: relative;
        top: -115%;
        left: 10%;
    }
    
    #curved-line-2 {
        width: 25%;
        margin: 0 auto;
        margin-top: -12rem !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        left: -5%;
    }
    
    #testimonial-div {
        width: 75%;
        padding: 0 !important;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    
    #testimonial {
        font-weight: 400;
        text-align: left !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        position: relative;
        left: 0%;
        text-align: left;
        padding: 0 0 !important;
    }
    
    
    #it-just-works {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.416667px;
        text-align: left;
        width: 70%;
    }
    
    #it-just-works>strong {
        font-weight: 700;
    }
    
    
    #quote {
        margin-top: 0 !important;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.1px;
        padding: 0 !important;
        width: 90% !important;
        text-align: left;
    }
    
    #customer-feedback-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #testimonial {
        font-weight: 400;
        text-align: center;
        margin-top: 00px;
    }

    #client {
        text-align: left;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    #client-position {
        margin-top: 0;
        text-align: left;
    }

    #social-links a:hover {
        opacity: 0.5;
    }

    #copyright {
        margin: 2rem auto;
    }
    
    #social-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 6rem;
        margin: 0 0;
    }
}

@media (min-width: 1440px) {
    #content {
        margin-bottom: 6rem;
    }

    #solution-arc {
        width: auto;
        top: 3.5rem;
        left: 18.5rem;
        z-index: 10;
    }

    #main-section {
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 0;
        margin-top: -5rem;
    }


    #headline-container {
        width: 100%;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        /* border: 2px solid green; */
    }

    #a-super-solution {
        line-height: 78px;
        letter-spacing: -1px;
        font-size: 72px;
        font-weight: 400;
    }

    #a-super-solution strong {
        font-weight: 700;
    }
    
    #marketing-info {
        font-size: 72px;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.1px;
        margin-top: -3rem !important;
        width: 80%;
    }

    #hero-image-div {
        border-radius: 1rem;
        margin-top: -3.0rem;
        max-height: 2rem;
        height: 2rem;
        width: 100%;
        position: relative;
        left: 3.5rem;
        top: 1.5rem;
        z-index: 0;
        grid-column: 2/2;
    }

    #hero-image-div img {
        width: 100%;
        max-width: 350px;
        max-height: 600px;
    }
    
    #stats {
        grid-area: 1/3/1/4;
        margin: 0 auto 4rem auto !important;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 10rem !important;
        text-align: left !important;
    }

    #stats h3, #stats p {
        text-align: left;
    }

    #customer-feedback-images {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #curved-line-2 {
        margin-bottom: -5rem;
        left: 1rem;
    }

    #footer-with-customer-feedback {
        margin-top: 0 !important;
        padding: 0;
    }

    #testimonial-div {
        width: 50%;
    }

    #it-just-works strong {
        font-weight: 700;
    }


    #quote {
        padding-right: 20px;
        width: 40%;
        width: 80% !important;
        margin-bottom: 2.5rem;
    }

}

